<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="initial test suite">
    <test name="initial test">
        <classes>
            <class name="test_cases.TestHomePage"/>
            <class name="test_cases.TestABTestingPagePage"/>
            <class name="test_cases.TestAddRemoveElementsPage"/>
        </classes>
    </test>
</suite>